<?xml version="1.0" encoding="UTF-8"?>
<!--


    Copyright (C) 2011, NUI Galway.
    All rights reserved.

    The software in this package is published under the terms of the BSD style license a copy of which has been included
    with this distribution in the bsb_license.txt file and/or available on NUI Galway Server at
    http://xsparql.deri.ie/license/bsd_license.txt

    Created: 09 February 2011, Reasoning and Querying Unit (URQ), Digital Enterprise Research Institute (DERI) on behalf of
    NUI Galway.

-->
<web-app>
  <display-name>XSPARQL</display-name>

  <!-- Declare the existence of a servlet. -->
  <servlet>
    <servlet-name>XsparqlServerServlet</servlet-name>
    <servlet-class>org.deri.xsparql.webapp.XsparqlServerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
    <init-param>
      <param-name>validatingXQuery</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>

  <!-- Map URLs to that servlet. -->
  <servlet-mapping>
    <servlet-name>XsparqlServerServlet</servlet-name>
    <url-pattern>/xsparql</url-pattern>
  </servlet-mapping>
</web-app>
